<div class="container">
	<div class="row myRow">
		<!-- <div class="col-md-2 col-sm-0 sidebars"></div> -->
		<div class="col-md-8 col-md-offset-2" id="leftBox">
			<div class="pane">
				<h1>System Analyzer</h1>
				<span class="button" onclick="osTest()"><p>OS</p></span>
				<span class="button" onclick="platTest()"><p>Platform</p></span>
				<span class="button" onclick="agentHead()"><p>Agent</p></span>
				<span class="button" onclick="cookieTest()"><p>Cookies</p></span>
				<span class="button" onclick="sizeTest()"><p>Window Size</p></span>
				
			</div>
			
			<div id="pane2" class="pane">
				<p><h2>Your OS: <span id="OSspan" class="sysInf"></span></h2></p>
				<p><h2>Your Platform: <span id="platSpan" class="sysInf"></span></h2></p>
				<p><h2>Agent Header: <span id="agentSpan" class="sysInf"></span></h2></p>
				<p><h2>Cookies: <span id="cookieSpan" class="sysInf"></span></h2></p>
				<p><h2>Window Size: <span id="sizeSpan" class="sysInf"></span></h2></p>
			</div>
		
		</div>
		<!-- <div class="col-md-2 col-sm-0 sidebars"></div> -->
	</div>
</div>
