<form method="POST" action="/contact_me">
  <label for="name">Name: <br> </label>
  <input type="text" name="name">
  <label for="email">Email: <br> </label>
  <input type="text" name="email">
  <label for="message">Message: <br> </label>
  <input type="text" name="message">
  <input type="submit">
</form>