<div class="container">
	<div class="row myRow">
		<!-- <div class="col-md-2 col-sm-0 sidebars"></div> -->
		<div class="col-md-8 col-md-offset-2 sidebars" id="leftBox">
			<div id="txt"></div>

			<div id="clock">
				<img id="face" src="images/ClockFace.png">
				<img id="hours" src="images/Hours.png">
				<img id="minutes" src="images/Minutes.png">
				<img id="seconds" src="images/Seconds.png">
			</div>
			
		
		</div>
		<!-- <div class="col-md-2 col-sm-0 sidebars"></div> -->
	</div>
</div>